<form class="post-form">
  <input type="hidden" name="post[blog_id]" value="<%= blogId %>">
  <label>Title
    <input type="text" name="post[title]" value="<%= post.escape('title') %>">
  </label><br>

  <label>Content<br>
    <textarea name="post[content]" rows="16" cols="80"><%= post.escape('content') %></textarea>
  </label>

  <div class="status-dropdown"></div>

  <input type="submit" value="Post">
</form>
