<label>Status
  <select name="post[status]">
    <option value="0">Published</option>
    <option value="1">Draft</option>
    <option value="2">Pending Review</option>
    <option value="0">Scheduled</option>
  </select>
</label>
