<header>
  <ul class="user-login">
    <% if logged_in? %>
      <li>Hello <%= current_user.username %>.</li>
      <li><%= button_to "Log out", session_url, method: :delete %></li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#my_blogs">My Blogs</a></li>
    <% else %>
      <li><%= link_to "Log in", new_session_url %> or <%= link_to "sign up", new_user_url %></li>
    <% end %>
    </li>
  </ul>
</header>

<!-- TODO backbone auth -->
