<form id="new-blog">
  <label>Path
    <input type="text" name="blog[path]" value="">
  </label>

  <label>Title
    <input type="text" name="blog[title]" value="">
  </label>

  <label>Tagline
    <input type="text" name="blog[tagline]" value="">
  </label>

  <input type="submit" value="Create">
</form>
