<a href='<%="#/blogs/" + blog.escape('id') + "/posts/new" %>'>New Post</a>    

<section class="blog-header">
  <h1><%= blog.escape('title') %></h1>
  <em><%= blog.escape('tagline') %></em>
</section>

<div class="followButton"></div>

<div id="posts"></div>

<!-- TODO: make the post render into a subview so I can reuse it in the feed -->
<div id="scrollListener"></div>
