<form action="<%= blog_posts_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="post[blog_id]" value="<%= @post.blog_id %>">

  <label>Title
    <input type="text" name="post[title]">

    <textarea name="post[content]" rows="16" cols="80"></textarea>
  </label>

  <input type="submit" value="Publish">
</form>
