/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, footer, section, article, div, strong, img, p, h1, h2,
h3, time, ul, li, small, form, label, input, textarea, button, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
}

/* --- HEADER --- */

header {
  background: #333;
  color: #ddd;
}

header ul {
  list-style: none;
  border-left: 1px solid #999;
}

header li {
  float: left;
}

header a, header input, header .pseudo-anchor {
  padding: 10px 20px;
  display: block;
  border-right: 1px solid #999;
}

header a:hover, header input:hover {
  background: #444;
}

header input {
  cursor: pointer;
}

.header-nav {
  margin: auto;
  width: 75%;
}

header .user-login {
  float: left;
}

header .blog-header {
  float: left;
}

header .user-header-links {
  float: right;
}

.invis {
  display: none;
}

.blog-post-title {
  display: inline-block;
}
