/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require reset.css
 *= require main.css
 *= require header.css
 */


/* --- POSTS --- */

h2 {
  font-size: 24px;
  margin-top: 20px;
}

/* --- FORMS --- */

form {
  width: 50%;
}

.form {
  margin: 20px 0;
  padding: 20px 0;
  width: 50%;
  position: relative;
}

.form input[type="submit"] {
  float: right;
}

#main input[type="submit"], #main button {
  cursor: pointer;
  background: #ccc;
  border-radius: 3px;
  padding: 10px 20px;
}

#main input[type="submit"]:hover, #main button:hover {
  background: #999;
}

input[type="text"], {
  margin: 0 0 20px 0;
}

input[type="submit"], #main button {
  cursor: pointer;
}

label {
  font-weight: bold;
}

input[type="text"], select, input[type="password"], textarea, input[type="email"] {
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 100%;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}

.post-status-label {
  position: absolute;
  left: 100%;
  width: 200px;
  top: 20px;
}

input > textarea {
  height: 100px;
}
