@import 'shadow';
@import 'colors';

form {
  width: 50%;
}

.form {
  margin: 20px 0;
  width: 100%;
  padding: 20px 20px 50px 20px;
  border-radius: 5px;
  position: relative;
  background: $thing;
}

#main > div > form {
  @include shadow;
}

.form input[type="submit"] {
  position: absolute;
  right: calc(5% - 4px);
}

#main input[type="submit"], #main button {
  cursor: pointer;
  background: $button;
  border-radius: 3px;
  padding: 10px 20px;
}

#main input[type="submit"]:hover, #main button:hover {
  background: $button-hover;
}

input[type="submit"], #main button {
  cursor: pointer;
}

label {
  font-weight: bold;
}

input[type="text"], select, input[type="password"], textarea, input[type="email"] {
  background: #fff;
  border: 1px solid $border;
  padding: 5px 10px;
  width: 95%;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.post-status-label {
  float: left;
  width: 50%;
  display: inline-block;
}

input > textarea {
  height: 100px;
}
