$shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.4);

@mixin shadow {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:    $shadow;
  box-shadow:         $shadow;
}

header {
  background: #333;
  color: #ddd;
  height: 32px;
  position: relative;
  z-index: 1;
  @include shadow;
}

.header-list {
  list-style: none;
}

.header-list li {
  float: left;
  height: 32px;
}

header a, header input, header .pseudo-anchor, header button {
  padding: 8px 20px;
  display: block;
  position: relative;
}

header .pseudo-anchor {
  padding-left: 50px;
}

.avatar-container {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 20px;
}

.pseudo-anchor img {
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

header a:hover, header input:hover, .follow-button:hover {
  background: #444;
}

header input {
  cursor: pointer;
}

.header-nav {
  margin: 0 auto;
  width: 75%;
}

header .blog-header {
  float: left;
  border-left: none;
}

header .user-login {
  float: right;
}

header .user-header-links {
  float: left;
}



.dropdown {
  display: none;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  background: #333;
  width: 100%;
}

.dropdown {
  @include shadow;
}

.header-list > li {
  position: relative;
}

li:hover .dropdown {
  display: block;
}

.dropdown li {
  width: 100%;
}



.follow-button {
  cursor: pointer;
}

.guest {
  background: #171;
}
